/* Shared Styles */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

header,
main {
    width: 80%;
    margin: 0 auto;
}


:root {
    --orange: #FF5400;
    --black: #131318;
    --light-black: #424247;
    --light-black-2: #5A5A5D;
    --light-black-3: rgba(19, 19, 24, 0.50);
    --white: #FFF;

}

.primary-title {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: 800;
}

.primary-description {
    color: var(--light-black-2);
}

.orange-title {
    color: var(--orange);
}

.button-primary {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: var(--orange);
    color: var(--white);
    font-weight: 800;
    border: none;
}

/* header section */
/* nav section */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .logo {
    display: flex;
    align-items: center;
}

.logo .logo-img {
    height: 40px;
    margin-right: 10px;
}

.menu-bar img {
    width: 40px;
}

.menu-bar {
    display: none;
}



.nav-item a {
    text-decoration: none;
    margin-left: 30px;
    font-size: 1.15rem;
    color: var(--light-black-2);
}

.nav-item .orange-home {
    color: var(--orange);
}

/* banner section */
.banner-container {
    max-width: 1170px;
    height: 500px;
    border: 1px solid var(--black);
    border-radius: 16px 16px;
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    border: none;
    margin: 50px auto;
    background-size: cover;


}

.banner-text-container {
    text-align: center;
    padding-top: 70px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    border-radius: 16px;
}

.banner-title {
    color: var(--white);
    font-size: 4rem;
    font-weight: 800;
}

.banner-description {
    color: var(--white);
    line-height: 1.8rem;
    padding: 0 250px;
}

.banner-form {
    display: inline-flex;
    gap: 25px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-bottom: 100px;
    padding: 10px;
}

.form-item {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    padding-left: 15px;
    border: none;
    color: var(--light-black-3);

}

.form-button-items .search-icon {
    width: 20px;
    height: 20px;
    color: var(--white);
}

.form-button-items {
    display: inline flex;
    align-items: center;
    justify-content: center;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: var(--orange);
    color: var(--white);
    border: none;
}

.form-button-items .form-button {
    background: var(--orange);
    color: var(--white);
    font-weight: 700;
    border: none;
}

/* <!-- popular tours section  --> */
.popular-tours-item-container {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.popular-tours-text-container {
    margin-right: 70px;
}

/* <!-- Destination section --> */
.destination-container {
    margin: 100px auto;

}

.destination-text-container {
    text-align: center;
    padding: 0 200px;
}



.place-name {
    font-size: 1.75rem;
    font-weight: 800;
    color: var(--white);
    text-align: center;
    margin: 120px auto;
}

.place-container-1,
.place-container-2,
.place-container-3 {
    display: grid;
    gap: 24px;
    margin: 24px 0;



}

.place-box {
    height: 300px;
}

.place-box-2 {
    height: 286px;
}

.place-container-1 {
    grid-template-columns: 573px 573px;

}

.maldives {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 5.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: cover;

}

.indonesia {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 8.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: cover;
}

.place-container-2 {
    grid-template-columns: 374px 474px 274px;
}

.srilanka {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 6.png), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}

.north-america {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 7.png), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}

.kashmir {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 9.png), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}

.place-container-3 {
    grid-template-columns: 473px 673px;
}

.bangladesh {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 11.png), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}

.bandarban {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 10.png), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* services section */
.services-container {
    margin-top: 100px;


}

.sevices-text {
    text-align: center;
    padding: 0 150px;
}

.services-box {
    width: 573px;
    height: 284px;
    text-align: left;
    padding: 24px;

}

.box-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.box-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.box-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 24px auto;
}

.services-icon {
    height: 64px;
    width: 64px;
    object-fit: cover;
}

.services-title {
    font-size: 1.4rem;
    font-weight: 800;
    color: var(--black);
}

.services-box-container {
    display: flex;
    gap: 24px;
}

/* <!-- deals section --> */
.deals-container {
    align-items: center;
    justify-content: center;
    margin: 100px auto;
}

.deals-text {
    text-align: center;
    padding: 0 250px;
}

.deals-bg {
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    background: url(../Images/Group\ 39.png), lightgray 50% / cover no-repeat;
    background-size: cover;
    margin: 24px auto;
    padding-top: 100px;

}

.deals-bg-2 {
    border-radius: 16px;
    background: url(../Images/Group\ 40.png), lightgray 50% / cover no-repeat;
    background-size: cover;
}

.deals-item-container {
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(1px);
    margin: 0px 55px 55px 520px;
    padding-top: 30px;
    padding-left: 30px;


}

.deals-item-container-2 {
    margin: 0px 535px 55px 55px;
}

.deals-heading-items {
    display: flex;
    gap: 24px;
}

.deals-icon-text {
    display: flex;
    gap: 10px;
}

.deals-title {
    font-size: 1.4rem;
    font-weight: 800;
    color: var(--black);
}

.deals-price {
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--orange);
}

.deal-button {
    text-align: center;
    margin-top: 50px;

}

/* <!-- perfect place section --> */
.perfect-place-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;

}

.perfect-place-video video {
    width: 600px;
    height: 400px;
    object-fit: fill;
    border-radius: 16px;

}

.about-places {
    font-weight: 700;
    color: var(--black);
}

/* <!-- tourist-guide-section --> */
.tourist-guide-container {
    margin-top: 100px;
}

.guide-heading-text {
    text-align: center;
    padding: 0 250px;
}

.guide-items-container {
    display: flex;
    justify-content: space-between;
}

.guide-container {
    width: 310px;
    height: 520px;
    border: 5px solid black;
    padding: 10px;
    box-shadow: 5px 10px rgba(211, 211, 211, 0.13);
    border: none;

}

.guide-photo {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.guide-name {
    font-size: 1.3rem;
    font-weight: 700;
}

.guide-email {
    display: flex;
    gap: 5px;
    align-items: center;
}

.guide-email img {
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.guide-phone {
    display: flex;
    gap: 5px;
    align-items: center;
}

.guide-phone img {
    width: 18px;
    height: 18px;
    object-fit: cover;
}

/* newsletter section */
.newsletter-container {
    margin: 100px auto 0 auto;
    display: flex;
    gap: 24px;
}

.newsletter-items {
    width: 500px;
    height: 363px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 30px;
}

.newletter-title {
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--black);
}

#newsletter-input-items {
    width: 380px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 10px;
    border: none;
    color: var(--light-black-3);
    padding-left: 15px;
}

#newsletter-button {
    width: 393px;
    height: 52px;
    margin-top: 10px;

}

.discount-box {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
    position: relative;
    left: 335px;
    top: -180px;
    text-align: center;
}
.discount-box p{
    font-size: 1.2rem;
    color: var(--white);
    padding: 0;
    margin: 0;
    padding-top: 30px;
    
}
.discount-box h3{
    font-size: 2rem;
    font-weight: 800;
    color: var(--white);
    padding: 0;
    margin: 0;
}

/* footer section */
footer {
    margin: 0;
    padding: 0;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
}

.footer-container {
    padding: 100px 300px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-logo img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.footer-title {
    font-size: 1.85rem;
    font-weight: 800;
    color: var(--black);
}

.footer-orange-title {
    color: var(--orange);
}